# Jeton d'intégration Notion (à générer sur https://www.notion.com/my-integrations)
NOTION_TOKEN=ntn_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# ID de la base de données Notion contenant les vidéos
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Clé API YouTube (à générer sur https://console.cloud.google.com/)
YOUTUBE_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
